h2{

    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6{

    text-transform: capitalize;

    
}

h2+p:first-letter {
    font-size:x-large;
  }


tr:hover{

        background-color: cyan;

}

nav li{

   display: inline; 
}

nav li:first-child{

    text-decoration: underline;
}

tbody tr:nth-child(odd){

    background-color: burlywood;
}

::selection{

    background-color: cadetblue;
}

a :hover{

    cursor: pointer;

}

input{

    height:20px;

    border-color: grey;
}

input[name="message"]{
    height:50px;
  }