th{

    text-transform: uppercase;
}

a{

    color: green;
}

em{

background-color: blue;

}

#the_most_important{

    background-color: gold;

    text-transform: uppercase;
}


h2{

    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6{

    text-transform: capitalize;
}

h2+p::first-letter{

    font-size: x-large;
}

tbody tr:hover, tbody tr:hover td{

    background-color: aquamarine;
}

nav li {

    display: inline;
}

ul li:first-child a{
    
    text-decoration: underline;
}

tbody tr:nth-child(odd){

    background-color: aqua;
}

tbody tr:nth-child(even){

    background-color: lavender;
}

::selection{

    background-color: yellow;
}

.top{

    background-color: #ff4b01;

}

a:hover{

    cursor: pointer;
}

input{

    height: 20px;
}

input[type="text"]{

    border: 2px solid lightgray
}

input[type="message"]{

    height: 50px;
}
